{%extends "user_layout.html"%}
{%block content%}
                <!-- start of venue 1 -->
                <div class="outer_box">
                    venue 1
                    <div class="container">
                        <div class="row">
                            <div class="col">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                <h5 class="card-title">show-1</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Action</h6>
                                <button type="button" class="btn btn-outline-warning">Fast booking</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                <h5 class="card-title">show-2</h5>
                                <h6 class="card-subtitle mb-2 text-muted">thriller</h6>
                                <button type="button" class="btn btn-outline-primary">Add ticket</button>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- <Venue-1 end> -->
                <!-- start of venue 2 -->
                <div class="outer_box">
                    venue 2
                    <div class="container">
                        <div class="row">
                            <div class="col">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                <h5 class="card-title">show-1</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Action</h6>
                                <button type="button" class="btn btn-outline-primary">Add ticket</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                <h5 class="card-title">show-2</h5>
                                <h6 class="card-subtitle mb-2 text-muted">thriller</h6>
                                <button type="button" class="btn btn-outline-danger">Houseful</button>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- <Venue-2 end> -->
                <button type="button" class="btn btn-primary">+ Add Page</button>
                {%endblock%}